<section>
  <table>
    <tr>
      <th>Inventory#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Current Quantity</th>
      <th>Manufacturer Part#</th>
      <th>Link to Drawing</th>
    </tr>
    <tr *ngFor="let item of items" [id]="item.id">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.location}}</td>
      <td>{{item.currentQuantity}}</td>
      <td> {{item.manPartNumber}}</td>
      <td><a [href]="item.imageFile.i">Show Drawing File</a></td>
    </tr>
  </table>
</section>
