section
  display: flex
  flex-direction: column
  justify-self: center
  align-content: center
  background: rgba(30, 30, 30, .1)
  border-radius: .2rem
  box-shadow: 0 0 3px rgba(10, 10, 10, .7)
  margin: 5% 20%

header
  width: 96%
  background: rgba(10, 10, 10, .1)
  padding: 2%
  display: flex
  flex-direction: row
  justify-content: space-between

main
  padding: 5% 0

article
  display: flex
  flex-direction: row
  justify-content: space-between

p
  padding: 2.5%

main a
  color: rebeccapurple
  font-size: 1.4rem
