<section>

  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <label>
      company email
      <input [className]="registerForm.get('email').status === 'VALID' ? 'valid' : 'invalid'"
             [placeholder]="'email@yourcompany.com'" [type]="'email'" formControlName="email">
      <span
        *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">Please enter valid email</span>
    </label>
    <label>
      unique group id
      <input [className]="registerForm.get('uniqueGroupID').status === 'VALID' ? 'valid' : 'invalid'"
             [placeholder]="'Company Inc Inventory'" [style.background-color]="groupStyle" [type]="'text'"
             formControlName="uniqueGroupID">
    </label>
    <label>
      password
      <input [className]="registerForm.get('password').status === 'VALID' ? 'valid' : 'invalid'"
             [placeholder]="'password'" [type]="'password'" formControlName="password">
    </label>
    <label>
      confirm password
      <input [className]="registerForm.get('confirmPassword').status === 'VALID' ? 'valid' : 'invalid'"
             [placeholder]="'confirm password'" [type]="'password'" formControlName="confirmPassword">
    </label>
    <span *ngIf="error.message" id="error-message">{{error.message}}</span>

    <button [type]="'submit'" id="submit">Submit</button>
  </form>
</section>
