form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

input {
  width: 100%;
}

label {
  color: black;
  width: 35%;
  align-self: center;
}

@media (max-width: 60rem) {
  label {
    width: 50%;
  }
}

@media (max-width: 50rem) {
  label {
    width: 70%;
  }
}

@media (max-width: 40rem) {
  label {
    width: 90%;
  }
}
