section
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

button
  width: auto
  font-size: 1.5rem
  float: right

#form-span
  display: flex
  flex-direction: row
  flex-wrap: wrap

label
  width: 22.75%
  margin: .5rem
  padding: 0

input
  margin: 0
  padding: .5rem
  width: 100%

#description
  width: 100%
  padding: 0
  margin: .5rem 0 .5rem .5rem

#description input
  width: 100%

#fileUpload
  width: 47%

form
  width: 60%
  justify-content: center
  display: flex
  justify-items: center
  margin-left: 15vw

@media (max-width: 75rem)
  label
    width: 30%
  #fileUpload
    width: 96%

@media (max-width: 60rem)
  section
    display: flex
    justify-content: center
    align-items: center
    margin: 0
    width: 100%
    padding: 10% 0
    max-height: 60%
  form
    width: 70%
    padding: 2% 0
  label
    width: 47%

@media (max-width: 45rem)
  section
    margin: 0
    width: 100%
    padding: 30% 0
    max-height: 60%
  form
    width: 80%
  label
    width: 100%
    font-size: 1.4rem
  input
    font-size: 1.1rem

