<section>
  <span id="error-message">{{error.message}}</span>

  <form (ngSubmit)="add()" [formGroup]="createItem">
    <h1>{{item}}</h1>
    <span id="form-span">
    <label>
      name
      <input (ngModelChange)="changeHandler($event)" [placeholder]="'name'" [type]="'text'" formControlName="name">
    </label>
    <label>
      part number
      <input [placeholder]="'manufacturer part number'" [type]="'text'" formControlName="manPartNumber">
    </label>
    <label>
      minimum stock
      <input [placeholder]="'0'" [type]="'number'" formControlName="minStock" min="0">
    </label>
    <label>
      current quantity
      <input [placeholder]="'0'" [type]="'number'" formControlName="currentQuantity">
    </label>
    <label>
      location
      <input [placeholder]="'stock location'" [type]="'text'" formControlName="location">
    </label>
    <label id="description">
      description
      <input [placeholder]="'description'" [type]="'text'" formControlName="description">
    </label>
      </span>
    <span>
      <button [type]="'submit'">Done</button>
    </span>
  </form>
</section>

<!--<div *ngFor="let name of names"><h1>{{name.val}}</h1> </div>-->
