<section>
  <span id="error-message">{{error.message}}</span>

  <form (ngSubmit)="add()" [formGroup]="createItem" enctype="multipart/form-data">
    <h1>{{item}}</h1>
    <span id="form-span">
    <label>
      name
      <input (ngModelChange)="changeHandler($event)" [placeholder]="'name'" [type]="'text'" formControlName="name">
    </label>
    <label>
      part number
      <input [placeholder]="'manufacturer part number'" [type]="'text'" formControlName="manPartNumber">
    </label>
    <label>
      minimum stock
      <input [placeholder]="'0'" [type]="'number'" formControlName="minStock" min="0">
    </label>
    <label>
      current quantity
      <input [placeholder]="'0'" [type]="'number'" formControlName="currentQuantity">
    </label>
    <label>
      location
      <input [placeholder]="'stock location'" [type]="'text'" formControlName="location">
    </label>
      <label>
      cost
      <input [placeholder]="'$0.00'" [type]="'number'" formControlName="cost" min="0">
    </label>
    <label id="description">
      description
      <textarea [placeholder]="'description'" formControlName="description"></textarea>
    </label>
    <label id="fileUpload">
      drawing file upload
    <input (change)="handleFileInput($event)"
           accept="application/pdf"
           formControlName="imageFile"
           type="file">
    </label>

      </span>
    <span>
      <button [type]="'submit'">Done</button>
    </span>
  </form>
</section>

<!--<div *ngFor="let name of names"><h1>{{name.val}}</h1> </div>-->
