section
  height: 80%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

button
  width: auto

#form-span
  display: flex
  flex-direction: row
  flex-wrap: wrap

label
  width: 22.75%
  margin: .5rem
  //width: auto
  padding: 0

input
  margin: 0
  padding: .5rem
  width: 100%

#description
  width: 100%
  padding: 0
  margin: .5rem 0 .5rem .5rem

#description input
  width: 100%

#fileUpload
  width: 47%

form
  width: 60%
  justify-content: center

.invalid
  border: solid 1px red

.valid
  border: solid 1px green
  background: rgba(175, 245, 170, .5)
