<header>
  <h1><a routerLink="home"> {{title}} </a></h1>
  <nav>
    <button (click)="SignIn()" *ngIf="!isSignedIn">Sign In</button>
    <button (click)="SignOut()" *ngIf="isSignedIn">Sign Out</button>
    <button (click)="register()" *ngIf="!isSignedIn">Register</button>
  </nav>
  <section>
    <ul *ngIf="isSignedIn">
      <li><a routerLink="home"> Home </a></li>
      <li><a routerLink="create_item"> Create Item </a></li>
      <li><a routerLink="show_items"> Show Item </a></li>
    </ul>
  </section>

</header>
