header
  width: 100%
  max-width: 100%
  background: rebeccapurple
  padding: 1rem 0
  color: white
  display: flex
  box-shadow: 0 0 5px black

h1
  margin-left: .4rem
  align-self: center
  justify-content: center
  font-weight: lighter

app-navbar
  margin-left: auto
  display: flex
  justify-content: flex-end
  padding: 0 .5rem
