<section>

  <form (ngSubmit)="signIn()" [formGroup]="signInForm">
    <label>
      email
      <input [placeholder]="'email@example.com'" [type]="'email'" formControlName="email">
      <span *ngIf="!signInForm.get('email').valid && signInForm.get('email').touched">Please enter valid email!</span>
    </label>
    <label>
      password
      <input [placeholder]="'password'" [type]="'password'" formControlName="password">
    </label>
    <span *ngIf="errorMessage" id="error-message">{{errorMessage}}</span>

    <button [type]="'submit'" id="submit">Submit</button>
  </form>
</section>
