<!--<app-navbar></app-navbar>-->
<section>
  <article>
    <span><h1>Welcome to </h1><h2>michaelhefner.com/</h2><h1><strong>Inventory</strong> </h1></span>

  </article>
  <article>
    <picture>
      <img src="assets/img/Screenshot from 2020-04-30 16-47-52.png">
    </picture>

    <p>Quickly add stock items with ease. Add drawing files for part clarification and verification.</p>
  </article>
  <article>
    <p>Search inventory quickly with all information at your fingertips.</p>
    <picture>
      <img class="full-width" src="assets/img/search_item.png">
    </picture>

  </article>
</section>
